<div class="col-sm-3"> 
<div class="panel panel-default">
    <img [src]="product.img" alt="chops" style="width:100%;height:230px;">
        <div style="padding-left:15px; padding-bottom: 10px;">
                <h4>
                <p><b>{{ product.title }}</b> </p>
                </h4>
                <div style="margin-top: 25px;">
                    <h5>
                        <p> Available: {{ product.qty }} </p>
                    </h5>
                    <h5>
                        <p> Price: Php {{ product.price }} </p>
                    </h5>
                </div>
            <div style=" display: flex;" style="margin-bottom:10px;">
                <label for="qty" style="margin-right: 5px;">Quantity: </label>
                <input type="number" name="qty" id="qty" [(ngModel)] = "custQty" style="width:70px"/>
            </div>
            <button type="button" class="btn btn-primary btn-sm" (click)="addToCart(product.id, custQty)">Add To Cart</button>
        </div>
</div>
</div>